<main class="page tw">
  <h1>Your subscription has been confirmed</h1>

  <p>What does this mean?</p>
  <ol class="typographic">
    <li>
      You will receive an email when our next newsletter is published on
      <%= link_to "The Commonplace", articles_path %>.
    </li>
    <li>
      You will receive emails for any subsequent newsletters.
    </li>
    <li>
      You will not receive emails for any other articles we post on
      <%= link_to "The Commonplace", articles_path %>, like artist spotlights and essays. That would be a bit much.
    </li>
    <li>
      You can unsubscribe at any time. This deletes all your details from our
      database.
    </li>
  </ol>
</main>
