footer {
  margin-top: auto;
  background: none;
  border-top: rgb(from var(--ib) r g b / 0.5) 1px solid;
  padding-top: var(--semibreve);
  padding-bottom: var(--semibreve);

  display: grid;
  grid-template-columns: subgrid;
}

.footer-content-container {
  grid-column: full-pad-start / full-pad-end;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--semibreve);
}

@media only screen and (min-width: 640px) {
  .footer-content-container {
    grid-template-columns: 240px 1fr;
    justify-items: end;
  }
}


.footer-logo-container {
  width: clamp(9.375rem, 4.9528rem + 11.7925vw, 12.5rem);
  display: flex;
  flex-direction: column;
  gap: var(--minim);
  justify-self: start;
}

.footer-logo-link {
  display: flex;
  justify-content: start;
  margin: 0 -8px;
  padding: 4px 8px;
  border-radius: var(--quaver);
  cursor: pointer;

  &:hover {
    background-color: rgb(from var(--ib) r g b / 0.1);
  }
  &:active {
    background-color: rgb(from var(--ib) r g b / 0.3);
  }
}

.logo {
  width: 100%;
  object-fit: contain;
}

.footer-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--semibreve);
  flex-wrap: wrap;
}

.footer-link-ul {
  list-style: none;
}

.footer-link {
  text-decoration: none;

  &:active,
  &:hover {
    text-decoration: underline;
  }
}
